p {
    text-decoration: underline blue;
}
.blue-paragraph {
    color: blue;
    /* float changes the block to be inline, removed from flow of page, no longer 100% width */
    float: right;
}
#important-paragraph {
    font-size: 24px;
    text-decoration: none;
    /*display: none;*/
    /* dispaly with non removes object from flow of page */
}
#container{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: relative;
    overflow: scroll;
}
.object{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
}
